{% extends "layout.html" %}
{% block resume %}
<div class='container'>
  <h3>Education</h3>
  <p class='container offset-2'>Lycoming College, Williamsport, PA: Fall 2008 - Spring 2012<br>
  Bachelor of Arts in Music Cum Laude GPA: 3.64/4.0<br>
  </p>
  <h4>Honors and Awards</h4>
  <p class='container offset-2'>Dean’s List earned by semester GPA of 3.5 or higher: Fall 2009 - Fall 2010, Spring 2012<br>
    The William T. and Ruth S. Askey Music Prize<br>
  </p>
</div>

<div class='container'>
  <h3>Experience</h3>
  <h4>Audio/Visual Specialist - Pennsylvania College of Technology Fall 2016 - Present</h4>
  <p class='container offset-2'>Set up, operate, and retrieve requested audio/visual equipment (sound systems, projection systems) to and from College facilities.<br>
    Support the audio/visual needs of staff, faculty, students, and visitors.<br>
    Diagnose and make routine repairs to mechanical and electronic equipment; report and monitor the repair of major equipment failures.<br>
    Assist the manager in directing the activities of work-study students and part-time staff.<br>
    Provide on-site electronic support services during campus events.<br>
  </p>
  <h4>Coordinator of Instructional Technology - Lycoming College Fall 2016</h4>
  <p class='container offset-2'>Provide services and support for technology use and integration in teaching and learning.<br>
     Demonstrate new and emerging technology to faculty and staff and encourage best practices.<br>
     Document audio-visual and instructional technology best practices and create reference materials and internal user guides to assist in their implementation.<br>
     Coordinate with, manage, and direct student workers.<br>
     Inventory, loan, and set up emerging technology and audio-visual equipment for faculty, staff, and students.<br>
     Configure and maintain Extron control systems and projectors for classroom and administrative use.<br>
     Provide audio-visual setups for campus events.</br>
  </p>
  <h4>Intern - GSE Systems Fall 2014 - Fall 2015</h4>
  <p class='container offset-2'>Use proprietary software to create, design, test and debug control panel simulations for active power plants.<br>
     Design customized icons (switches, knobs, meters, lights) for power plant control panels using graphical editing programs.<br>
     Design and code icons functionality using JADE fortran/VB codegen.<br>
     Work with customers to resolve discrepancy reports on high priority projects.<br>
     Lend support to a team of engineers as an administrative Intern.<br>
     Use Access database and Mantis DR tracking software.<br>
     Create programs using Python to automate routine tasks.<br>
     Assist in data acquisition from FTP sites and Sharepoint databases.<br>
     Work on entering, maintaining and tracking a database of discrepancy reports.<br>
     Assist in the creation of technical documents and deliverables such as:<br>
     Functional design specifications, which help define the scope of work on a project.<br>
     Model development document, a document that indexes all code created for a project for the customer.<br>
  </p>
</div>

<div class='container'>
  <h3>Projects</h3>
  <h4>GSE Systems Fall 2014 - Fall 2015</h4>
    <p class='container offset-2'>FirstEnergy Fossil Energy Plants. Design and implementation of plant control panels.<br>
      Bettis Electric Plant Trainer. (Nuclear Submarine) Software customization and design.<br>
      Qurrayah Combined Cycle Power Plant. Control logic debugging and troubleshooting.<br>
    </p>
  <h4>Beach Bumz (Band) Fall 2013 - Summer 2016</h4>
    <p class='container offset-2'>Bass Guitarist<br>
      Vocalist<br>
    </p>
  <h4>Clouds Make Sounds (Band): Winter 2010 - Fall 2013 Manager / Bassist / Web</h4>
    <p class='container offset-2'>Clouds Make Sounds (2011) Album. Bassist, Mixing Support<br>
      Clouds Make Sounds: The Seasons Full Scale-Musical Production (2011)<br>
      Patchwork Vessel (2013) Album. Bassist, Lyrics, Mixing Lead, Mastering<br>
    </p>
</div>

<div class='container'>
  <h3>Other Skills</h3>
  <p class='container offset-2'>Python. Git. Flask. GUI design. Microsoft Access. Microsoft Excel. PowerShell.
    Diagramming Programs (Visio, LucidChart). G Suite. Networking. Cybersecurity. Data Analysis and Visualization. Windows.
    Debian Linux. Music Performance. Music Theory. Music Instruction. Instructional Technology. Adobe Photoshop CS6.
  </p>
</div>
{% endblock resume %}
