{% extends 'bootstrap/base.html' %}

{% block content %}
<title>Joseph Marchese Resume</title>
<div class='container text-center'>
  <address>
    <h1>Joseph Marchese</h1>
     Williamsport, PA<br>
     <abbr title="Phone">P:</abbr> (570) 447-6127<br>
    <a href='mailto:#'>joeymarchese@gmail.com</a><h3>
  </address>
</div>
<div>
<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <ul class='nav navbar-nav'>
      <li class='nav-item'><a class='nav-link active' href={{ url_for('index') }}>Resume</a></li>
      <li class='nav-item'><a class='nav-link active' href={{ url_for('dev') }}>Dev</a></li>
      <li class='nav-item'><a class='nav-link disabled' href={{ url_for('about') }}>About</a></li>
    </ul>
  </div>
</nav>

{% block mycontent %}{% endblock mycontent %}
{% endblock content %}
